<!DOCTYPE html>
<!-- layout:decorate="~{layout/layout}" : layout.html 파일을 기본 틀로 사용하겠다고 선언 -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">

<!-- 이 div의 내용이 layout.html의 'content' fragment 부분으로 삽입됨 -->
<div layout:fragment="content">

    <!-- Chat Iframe Integration -->
    <div style="margin-top: 30px; width: 100%; height: 800px; border: none;">
        <iframe src="/chat/room" style="width: 100%; height: 100%; border: none;" title="Real-time Chat">
        </iframe>
    </div>
</div>

</html>